<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <!-- <title>RailsJournal</title> -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
      <div class="container">
      <div class="nav">
        <nav class="main-nav">
          <ul class="list-unstyled">
            <li><span class="site-title"><%= link_to "RailsJournal", '/' %></span></li>
              <li><button class="btn btn-primary"><%= link_to 'Posts', posts_path %></button></li>
              <li><button class="btn btn-warning"><%= link_to 'Reserved', posts_path %></button></li>
              <span class="center">
                <strong></strong>
              </span>
              <div class="nav-right">
               Welcome to RailsJournal!
              </div>
          </ul>
          <hr>
        </nav>
      </div>
    </div
  </header>

  <div class="container">
    <%= flash[:alert] %>
    <%= flash[:notice] %>

    <%= yield %>
  </div>
</body>
</html>
